.row-container {
  display: flex;
}

.board {
    width: 400px;
    height: 400px;
    background-color: #964B00; /* border color */
  }
  
.cell {
  width: 100%;
  border: 1px solid black;
  background-color: #f5deb3; /* cell color */
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}
  
.stone {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
  